.app {
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.openAddTransactionModal {
  width: 10rem;
  height: 2rem;
  font-size: 1.2rem;
  margin: 1rem;
  background: var(--accent);
  outline: none;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

